body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h1 {
    background: linear-gradient(to right, darkgreen, black);
    color: white;
    padding: 20px;
    text-align: center;
}

.forecast {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 10px;
    justify-content: center; /* Center the forecast cards horizontally */
}

.forecast-card {
    flex: 0 0 auto;
    margin-right: 10px;
    border: solid 1px black;
    padding: 20px;
    text-align: center; /* Center the content horizontally */
}

.forecast-card img.weather-icon {
    display: block; /* Make the image a block element */
    margin: auto; /* Center the image horizontally */
}

.forecast-item {
    margin-bottom: 20px;
}

#current-weather {
    border: 1px solid black; /* Add a border around the current weather cards */
    padding: 10px; /* Add padding for better spacing */
}

.forecast-card,
.current-weather-container,
.current-weather {
    background: linear-gradient(to right, darkgreen, black);
    color: white; /* Text color */
    padding: 10px; /* Adjust padding as needed */
    border-radius: 8px; /* Optional: Add rounded corners */
    text-align: center; /* Center the content horizontally */
}

#next-five-days {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 10px;
    justify-content: flex-start; /* Align the forecast cards to the left */
}

#next-five-days .forecast-card {
    flex: 0 0 auto;
    margin-right: 10px;
    border: solid 1px black;
    padding: 20px;
}

#next-five-days .forecast-item {
    margin-bottom: 20px;
}

input[type="text"] {
    width: 200px;
    padding: 8px;
}

button {
    padding: 8px 16px;
    background-color: #0b5020;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #139c58;
}

.city-list-container {
    margin-top: 20px;
}

.city-title {
    text-align: center;
}

.city-list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.city-item {
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
}

.search-history {
    margin-top: 20px;
}

.search-history ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.search-history li {
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
}

.weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#current-weather-container,
#next-five-days-container {
    margin-top: 20px;
}
